.dividorUsuario{

  width: 540px;
  height: 100dvh;
  transition: all 0.5s ease;
}

.dividorUsuario.hidden{
  width: 120px;
}

.DatosUsuarioLogin-container {
  background-color: #f4f4f4;
  /*width: 100%;*/
  flex-grow: 1;
  height: auto;
  min-height: 80dvh;
  margin: 0;
  padding-bottom: 40px;


  display: flex;
  flex-direction: row;
  justify-content: space-evenly;
  align-items: center;
  flex-wrap: wrap;
  gap: 10px;
}

.DatosUsuarioLogin-container .Perfil-container {
  width: 450px;
  height: 530px;

  position: relative;
  margin-top: 30px;

  display: flex;
}

.DatosUsuarioLogin-container .DatosPersonales-container {
  position: relative;
  width: 55%;
  height: auto;

  display: flex;
  justify-content: center;
  align-items: start;
}

.InfoPersonal-container {
  width: 55%;
  min-width: 100%;
  height: auto;
  min-height: 500px;
  padding: 20px;
  margin-top: 10px;
  background-color: white;
  top: 100px;
  left: 30px;
  margin-bottom: 10px;
  border-radius: 40px;
  box-shadow: 0px 3px 10px 0px rgb(0, 0, 0, 0.5);
  font-family: "Inter";

  animation: top-in 0.5s alternate;
}

.InfoPersonal-container .InfoPersonal-header {
  position: relative;

  font-size: 18px;
  font-weight: 700;

  width: 154px;
  height: 40px;
  margin: 40px 0px 0px 30px;

  border-bottom: 2px solid #5289f1;
}

.InfoPersonal-container .InfoPersonal-parrafo {
  position: relative;

  color: black;

  margin: 40px 0px 40px 30px;
}

.InfoPersonal-container .AlumnoInfo-container {
  position: relative;
  display: flex;
  width: 100%;
  border: 200px;
}

.AlumnoInfo-container .AlumnoInfo {
  position: relative;

  width: 100%;
  height: auto;
  color: black;

  display: flex;
  flex-direction: row;
  flex-wrap: wrap;
  justify-content: space-start;
  padding-right: 0px;
  margin-bottom: 50px;
  padding-left: 30px;
  gap: 10px;
}

.AlumnoInfo-container .AlumnoInfo .AlumnoItem {
  display: flex;
  flex-direction: column;
  width: 300px;
  height: 100px;
  list-style: none;
  padding-left: 0px;
}

.AlumnoInfo-container .AlumnoInfo .AlumnoItem .AlumnoItemInput {
  width: 300px;
  margin-left: 0px;
  margin-right: 0px;
  margin-top: 0px;
  padding-left: 0px;
  background-color: white;
  color: #454545;
  font-weight: 500;
  font-family: "Inter";
  transition: 0.5s;
}

.AlumnoInfo-container .AlumnoInfo .AlumnoItem .AlumnoItemInput:focus {
  outline: none;
}

.AlumnoInfo-container .button-container {
  position: absolute;
  width: 230px;
  height: 360px;

  display: flex;
  align-items: end;
  justify-content: end;
  padding-right: 30px;
  bottom: -10px;
  right: 0px;
}

.AlumnoInfo-container .button-container .editar-btn {
  width: 150px;
  height: 40px;
  background-color: #1962ec;

  border: none;
  border-radius: 10px;

  color: white;
  font-family: "Inter";
  font-size: 14px;
  cursor: pointer;
}

.botones-editar {
  width: 100%;
  height: 130px;

  display: flex;
  flex-direction: column;
  justify-content: end;
  align-items: end;
}

.botones-editar .guardar-btn,
.botones-editar .cancelar-btn {
  width: 150px;
  height: 40px;

  border: none;
  border-radius: 10px;

  color: white;
  font-family: "Inter";
  font-size: 14px;
  cursor: pointer;
}

.botones-editar .guardar-btn {
  background-color: #1962ec;
  margin-bottom: 10px;
}

.botones-editar .cancelar-btn {
  background-color: #ff1700;
}

.AlumnoInfo-container .AlumnoInfo .AlumnoItem .AlumnoItemInput.edicion {
  background-color: #d5d5d5;
  border-radius: 10px;
  transition: 0.5s;
}

input[type="date"] {
  height: 47px;
  outline: none;
  border: 0;
  font-size: 16px;
}
