.dividorInformacion{
  height: 100dvh;
  width: 350px;
  transition: 0.5s ease;
}

.dividorInformacion.hidden{
  width: 90px;
}

.InicioLogin-container {
  /*width: 100%; Viendo si eliminarlo */ 
  flex-grow: 1;
  height: 150vh;
  background-color: white;

  display: flex;
  justify-content: start;
}

.InicioLogin-container .prueba {
  font-size: 20px;
  color: black;
  z-index: 100;
}

.InicioLogin-container .InicioLogin-Section {
  width: 100%;
  height: 90px;
  background-color: #f6f5f5;
  display: flex;
  flex-direction: column;
  justify-content: start;
}

.InicioLogin-container .InicioLogin-Section .InicioLogin-Titulo {
  font-size: 30px;
  margin-left: 40px;

  color: black;
}

.Categoria-container {
  font-family: "Inter";
  width: 100%;
  height: 350px;
  background-color: white;
  padding-left: 55px;
}

.Categoria-container .Categoria-titulo {
  color: black;
  font-size: 12px;
  font-weight: 300;
}

.Categoria-container .Categoria-titulo p {
  font-size: 26px;
  font-weight: 300;
  margin-left: -14px;
  margin-bottom: 30px;
}

.Categoria-container .Cursos {
  width: 80%;
  margin-left: -14px;
  display: flex;
  gap: 50px;
}
