.beneficio-container{
    grid-column: span 2;
    width: 400px;
    height: 250px;
    background-color: #0058FF;
    color: white;
    padding : 30px 40px;
    cursor: default;
    box-shadow: 0px 3px 4px 0px rgb(0, 0, 0, 0.5);
    animation: opacidad 1s alternate;
}

.beneficio-container p{
    font-size: 18px;
    text-align: justify;
}

.beneficio-container:hover{
    background-color: #73A0F6;
    color: black;
}

@keyframes opacidad {
    from{
        opacity: 0;
    }
    to{
        opacity: 1;
    }   
}

@media screen and (max-width: 767px){
    .beneficio-container{
        width: 250px;
        height: 150px;
        gap: 10px;
    }

    .beneficio-container h1{
        font-size: 17px;
    }

    .beneficio-container p{
        font-size: 14px;
    }
}