.biblioteca-container{
  width: 100%;
  height: 90dvh;
  display: flex;
  align-items: center;
  justify-content: center;
  flex-direction: column;

  .img-coming{
    width: 400px;
    aspect-ratio: 1/1;
    margin-top: 130px;
  }
}