.cursos-container{
    position: relative;
    width: 100%;
    height: max-content;
}

.cursoHeader{
    width: 100%;
    position: relative;
    filter: brightness(0.4);
} 

.tituloCursos{
    position: absolute;
    right: 100px;
    color: #fff;
    transform: translateY(-700px);
    font-size: 70px;
    font-weight: 700;
    font-family: 'Inter';
    text-align: center;
    z-index: 4;
}

.cursos{
    aspect-ratio: 16/10;
}

.bodyHeader{
    position: relative;
    width: 100%;
    height: 800px;
    display: flex;
    z-index: 16;
    padding-bottom: 85px;
}

.options-container{
    width: 60%;
    height: 800px;

}

.formulario-container{
    width: 40%;
    height: 880px;
}

.options-container{
    padding-top: 90px;
}

.options-container .row-1{
    width: 800px;
    margin-left: 130px;
    display: flex;
    flex-wrap: wrap;
    justify-content: space-between;
}

.options-container .row-2{
    width: 800px;
    margin-left: 130px;
    display: flex;
    flex-wrap: wrap;
    justify-content: space-between;
    align-items: center;
}

.formulario-container{
    display: flex;
    justify-content: center;
    align-items: center;
}

@media screen and (max-width: 767px){
    .cursos{
        top: 40px;
    }

    .cursos-container .tituloCursos{
        font-size: 30px;
        transform: translateY(-70px);
        right: 20px;
    }

    .bodyHeader{
        flex-direction: column-reverse;
        height: 1400px;
    }

    .bodyHeader .options-container{
        position: relative;
        width: 100%;
    }

    .bodyHeader .options-container .row-1{
        flex-direction: column;
        justify-content: start;
        align-items: center;
        width: 100%;
        margin-left: 0;
    }

    .bodyHeader .options-container .row-2{
        width: 100%;
        justify-content: center;
        margin-left: 0;
    }

    .bodyHeader .formulario-container{
        align-items: start;
        justify-content: center;
        position: relative;
        top: -800px;
        height: 100px;
        width: 100%;
    }
}