body{
    margin: 0;
    padding: 0;
}

.Course-container{
    background-color: #F1F1F1;
    width: 100%;
    height: max-content;
}

.headerCourse{
    position: relative;
    transform: translateY(30px);
    width: 100%;
    height: 1100px;
}

.Course-container::after{
    content: "";
    position: absolute;
    top: 0;
    left: 0;
    width: 100%;
    height: 1100px;
    background-color: rgba(0, 0, 0, 0.6);
    z-index: 1;
    transform: translateY(27px);
}

.titulo-container{
    position: absolute;
    transform: translateY(-270%);
    margin-left: 90px;
    z-index: 5;
    color: #fff;
    font-size: 60px;
}

.titulo-container h1{
    margin-top: 4px;
}

.body-Course{
    position: relative;
    display: flex;
    width: 100%;
    /*padding-bottom: 50px;*/
    /*height: 2800px;*/
    height: max-content;
    background-color: #F1F1F1;
    z-index: 6;
    transform: translateY(-100px);
}

.form-container{
    position: relative;
    width: 45%;
    height: 340vh;
    display: flex;
    justify-content: center;
}

.Course{
    width: 55%;
    height: max-content;
}

.Course h1{
    margin-top: 40px;

    color: black;
    font-family: 'Inter';
    font-weight: 700;
    font-size: 24px;
}

.brochure-container{
    width: 90%;
    height: 70px;
    margin: 30px auto;
    display: flex;
    align-items: center;
    justify-content: end;

    /* Separación con el item de abajo con el boton brochure */
    padding-bottom: 30px;
}

.bodyCourse-container{
    width: 90%;
    margin: 0 auto;
}

.Benefit-container{

    width: 100%;
    margin: 50px auto;
    display: flex;
    justify-content: space-between;
    flex-wrap: wrap;
}

.brochure-container .brochure-button{
    text-decoration: none;
    width: 221px;
    height: 50px;
    border: 3px solid #1962EC;
    border-radius: 15px;
    margin-top: 30px;
    display: flex;
    align-items: center;
    justify-content: center;

    font-family: 'Inter';
    font-weight: 700;
    font-size: 24px;
    color: #1962EC;
}

.brochure-button:hover{
    color: #fff;
    background-color: #1962EC;
}