:root{
    --gris: #D9D9D9;
}

body{
    padding: 0;
    margin: 0;
}

.footer-container{
    z-index: -1;
    color: black;
}

.footer-zaitex-logo{
    width: 190px;
}

.atencion-container{
    display: flex;
    align-items: center;
    justify-content: space-around;
    background-color: var(--gris);
    height: 400px;
    width: 100%;

}

.atencion-alumno{
    color: black;
}

.atencion-alumno h1{
    margin-top: 0;
    font-family: 'Nunito';
    font-weight: 800;
    font-size: 34px;
}

.atencion-academica h1{
    margin-top: 0;
    font-family: 'Nunito';
    font-weight: 800;
    font-size: 34px;
}

.copyright{
    display: flex;
    align-items: center;
    justify-content: end;
    position: relative;
    background-color: black;
    color: white;
    width: 100%;
    height: 100px;
    margin-bottom: -21px;
}

.copyright p{
    padding-right: 70px;
}

@media screen and (max-width: 767px){
    .atencion-container{
        flex-direction: column;
        gap: 30px;
        height: max-content;
        justify-content: star;
        align-items: start;
    }

    .atencion-container .footer-zaitex-logo{
        width: 100px;
        margin-top: 30px;
        margin-left: 70px;
        justify-content: start;
    } 

    .atencion-container .atencion-academica, .atencion-container .atencion-alumno{
        margin-left: 70px;
    }

    .atencion-container .atencion-alumno h1{
        font-size: 20px;
    }

    .atencion-container .atencion-alumno p{
        font-size: 13px;
    }

    .atencion-container .atencion-academica h1{
        font-size: 20px;
    }

    .atencion-container .atencion-academica p{
        font-size: 13px;
    }

    .copyright{
        height: 70px;
        font-size: 12px;
        display: flex;
        justify-content: center;
    }

    .copyright p{
        text-align: center;
    }
}