.ruta{
    position: -webkit-sticky;
    position: sticky;

    top: 400px;
    width: 520px;
    height: max-content;
    background-color: white;
    box-shadow: 0px 6px 10px 0px rgba(0, 0, 0, 0.4);
    border-radius: 30px;
    transform: translateY(-100px);
}

.form{
    position: -webkit-sticky; 
    position: sticky;

    width: 520px;
    height: max-content;
    background-color: white;
    box-shadow: 0px 6px 10px 0px rgba(0, 0, 0, 0.4);
    border-radius: 30px;
    top: 450px;
    transform: translateY(-100px);
}

.header-form{
    position: relative;
    display: flex;
    align-items: center;
    justify-content: center;
    width: 520px;
    height: 120px;
    background-color: #FFC123;
    border-top-left-radius: 30px;
    border-top-right-radius: 30px;
}

.header-form h1{
    color: #fff;
    margin-top: 30px;
    font-size: 30px;
    transform: translateY(-10px);
}

.body-form{
    color: black;
    position: relative;
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    width: 520px;
    background-color: white;
    margin-top: -20px;
}

.body-form p{
    margin-left: 30px;
    margin-right: 20px;
    display: flex;
    flex-direction: row;
    align-items: start;
}

input[type="text"],
input[type="tel"],
input[type="email"]{
    width: 390px;
    height: 45px;
    border-radius: 10px;
    border: none;
    margin-left: -10px;
    margin-bottom: 13px;
    padding-left: 50px;
    background-color: #EEEEEE;
    font-size: 16px;
}

input[type="checkbox"]{
    background-color: #EEEEEE;
    color: #EEEEEE;
}

input[type="submit"]{
    font-size: 17px;
    font-weight: bold;
    padding: 15px 70px;
    transform: translateX(175px);
    margin-bottom: 20px;
    border-radius: 5px;
    border: none;
    background-color: #1962EC;
    color: #fff;
}

.submitBtn:hover{
    background-color: #0E3989;
}

label{
    font-size: 13px;
}

#talleres{
    font-size: 16px;
    width: 440px;
    padding-left: 50px;
    height: 45px;
    background-color: #EEEEEE;
    border-radius: 10px;
    margin-left: -10PX;
    border: none;
}

#talleres option{
    background-color: #EEEEEE;
}

@media screen and (max-width: 767px){
    .ruta{
        position: relative;
        width: 350px;
        height: 500px;
        transform: translateY(50px);
    }

    .header-form{
        width: 350px;
        height: 100px;
    }

    .header-form h1{
        font-size: 20px;
    }

    .body-form{
        width: 350px;
    }

    .body-form h2{
        font-size: 16px;
    }

    .body-form p{
        margin-left: 0;
        width: 240px;
    }

    .body-form p label{
        font-size: 11px;
    }

    input[type="text"],
    input[type="tel"],
    input[type="email"]{
        width: 200px;
        font-size: 10px;
        height: 30px;
    }

    input[type="submit"]{
        width: 200px;
        transform: translateX(53px);
        font-size: 10px;
    }

    #talleres{
        width: 250px;
        height: 35px;
        font-size: 11px;
    }
}