:root{
  margin: 0;
  padding: 0;
  --blue : #1962EC;
}

body{
  color: var(--blue);
  overflow-x: hidden;
}

#esconder{
  display: none;
}

.header-container{
  display: flex;
  position: fixed;
  top: -10px;
  flex-direction: row;
  justify-content: center;
  width: 100%;
  height: 130px;
  transform: translateY(60px);
  transition: 0.4s;
  z-index: 200;
}

.header-container.top{
  transform: translateY(10px);
  transition: 0s;
}

.logo-container{
  display: flex;
  position: relative;
  justify-content: center;
  align-items: start;
  float: left;
  padding-left: 35px;
  width: 10%;
}

.logo-zaitex{
  padding: 22px;
  width: 100px;
}

nav{
  position: relative;
  float: right;
  width: 82%;
}

a{
  text-decoration: none;
  list-style: none;
}

.nav-container{
  position: relative;
  display: flex;
  flex-direction: row;
  justify-content: center;
  float: right;
  width: 750px;
  margin-top: 23px;
  margin-left: 0px;
  gap: 16%;
}

.circulo{
  position: absolute;
  width: 100px;
  height: 100px;
  border-radius: 50%;
  background-color: #1962EC;
  transform: translateX(-327%);
  margin-top: 15px;
  transition: 0.5s;
  z-index: -1;
}

/* Muralla derecha */
.circulo::after{
  content: "";
  position: absolute;
  width: 900px;
  height: 120px;
  top: -40px;
  background-color: rgba(255, 255, 255, 1);
  box-shadow: 2px 0px 2px 1px rgba(0, 0, 0, 0.3);
  z-index: -1;
  border-bottom-left-radius: 99px;
  transform: translateX(10.6%);
  transition: 0.5s;
}

/* Muralla izquierda */
.circulo::before{
  content: "";
  position: absolute;
  width: 5000%;
  height: 120px;
  top: -40px;
  transform: translateX(-99.94%);
  background-color: rgba(255, 255, 255, 1);
  box-shadow: -2px 0px 2px 1px rgba(0, 0, 0, 0.3);
  z-index: -1;
  border-bottom-right-radius: 97.6px;
  transition: 0.5s;
}

/* Luna arriba del circulo */
.luna{ 
  position: absolute;
  top: 2px;
  width: 119.9px;
  height: 118px;
  -moz-border-radius: 50%;
  -webkit-border-radius: 50%;
  border-radius: 50%;
  -moz-box-shadow: 30px 10px 0 rgba(255, 255, 255, 1);;
  -webkit-box-shadow: 30px 10px 0 rgba(255, 255, 255, 1);
  box-shadow: -2px -66px 0px 10px rgba(255, 255, 255, 1);
  z-index: 10;
  transform: translateX(-275%);
  transition: 0.5s;
}

.nav-container .home-btn, .nav-container .about-btn, .nav-container .courses-btn, .nav-container .talleres-btn, .nav-container .biblioteca-btn{
  display: flex;
  position: relative; /* Cambia esto produce error */
  flex-direction: column;
  align-items: center;
  cursor: pointer;
  list-style: none;
  text-decoration: none;
  margin-left: -24px;
  transition: 0.5s;
}

.nav-container .biblioteca-btn .txtBiblioteca{
  width: 70px;
  text-wrap: wrap;
  text-align: center;
  margin-top: -6px;
}

/* Separación de las 2 paredes */
.nav-container .active::after{
  content: "";
  position: absolute;
  top: -33px;
  width: 125px;
  height: 125px;
  left: -30px;
  background-color: transparent;
  border-top-left-radius: 50%;
  border-top-right-radius: 50%;
  transition: all 0.5s ease;
}

/* Circulo celeste */
.nav-container .active{
  transform: translateY(35px);
  transition: 0.5s;
}

.active .txtInicio, .active .txtNosotros, .active .txtCursos, .active .txtTalleres, .active .txtBiblioteca {
  color: #fff;
  text-align: center;
  text-wrap: wrap;
  width: 70px;
}

.about-btn{
  text-decoration: none;
}

.logo-nosotros{
  margin-top: 4px;
}

.txtNosotros{
  margin-top: 3px;
}

.body-foto{
  width: 120%;
  height: 1900px;
  padding: 0px;
  margin: 0px;
  top: -39px;
  position: absolute;
  left: -8%;
  z-index: -20;
}

.txtNosotros, .txtCursos, .txtTalleres, .txtInicio, .txtBiblioteca{
  color: #1962EC;
}

a:nth-child(1).active .txtInicio{
  color: white;
} 

a:nth-child(1).active ~ .circulo{
  transform: translateX(-320%);
}

a:nth-child(1).active ~ .luna{
  transform: translateX(-267%);
}

a:nth-child(2).active .txtNosotros{
  color: white;
} 

a:nth-child(2).active ~ .circulo{
  transform: translateX(-176%);
}

a:nth-child(2).active ~ .luna{
  transform: translateX(-146.9%);
}

a:nth-child(3).active .txtCursos{
  color: white;
} 

a:nth-child(3).active ~ .circulo{
  transform: translateX(-22%);
}

a:nth-child(3).active ~ .luna{
  transform: translateX(-18.6%);
}

a:nth-child(4).active .txtTalleres{
  color: white;
} 

a:nth-child(4).active ~ .circulo{
  transform: translateX(123%);
}

a:nth-child(4).active ~ .luna{
  transform: translateX(102.4%);
}

a:nth-child(5).active .txtBiblioteca{
  color: white;
} 

a:nth-child(5).active ~ .circulo{
  transform: translateX(280%);
}

a:nth-child(5).active ~ .luna{
  transform: translateX(233.5%);
}



@media screen and (max-width:750px) and (min-width: 900px){
  .nav-container{
      width: 100%;
      gap: 17%;
  }
}

@media screen and (max-width: 767px) {
  /* Estilos para celulares */

  .header-container{
    height: 50px;
    left: 0;
  }

  .logo-nosotros, .logo-carreras, .logo-inicio, .logo-cursos, .logo-talleres{
    width: 10px;
    height: 10px;
  }


  .logo-container{
    align-items: center;
    height: 51px;
    transform: translateX(-15px);
  }

  .logo-zaitex{
    width: 30px;
  }

  .circulo{
    width: 55px;
    height: 55px;
    margin-top: 7px;
  }
  
  .circulo::after{
    height: 60px;
    transform: translateX(4.27%);
  }

  .circulo::before{
    height: 60px;
    transform: translateX(-99.34%);
  }
  
  .luna{
    width: 65px;
    height: 60px;
    box-shadow: -2px -48px 0px 10px rgba(255, 255, 255, 1);
    top: -4px;
  }

  .nav-container{
    width: 50%;
    margin-right: 70px;
    gap: 45px;
  }

  .nav-container .home-btn , .about-btn, .courses-btn, .talleres-btn , .biblioteca-btn{
    width: 40px;
    font-size: 7px;
    transform: translateY(-5px);
  }

  .nav-container .active{
    transform: translateY(24px);
  }

  .txtCursos, .txtTalleres{
    margin-top: 1.7px;
  }

  .txtBiblioteca{
    transform: translateY(8px);
  }

  .nav-container .about-btn{
    margin-top: 0px;
    top: -6px;
  }

  a:nth-child(1).active ~ .circulo{
    transform: translateX(-200%);
  }
  
  a:nth-child(1).active ~ .luna{
    transform: translateX(-168%);
  }

  a:nth-child(2).active ~ .circulo{
    transform: translateX(-123%);
  }
  
  a:nth-child(2).active ~ .luna{
    transform: translateX(-103%);
  }

  a:nth-child(3).active ~ .circulo{
    transform: translateX(-38%);
  }
  
  a:nth-child(3).active ~ .luna{
    transform: translateX(-31%);
  }

  a:nth-child(4).active ~ .circulo{
    transform: translateX(39%);
  }
  
  a:nth-child(4).active ~ .luna{
    transform: translateX(33.9%);
  }

  a:nth-child(5).active ~ .circulo{
    transform: translateX(135%);
  }
  
  a:nth-child(5).active ~ .luna{
    transform: translateX(115%);
  }
}