.sombra-header {
  position: relative;
  height: 90px;
  width: 100%;
}

.HeaderUsuario-container {
  position: absolute;
  top: 0;
  display: flex;
  justify-content: end;
  width: 100%;
  height: 90px;
  background-color: #e6e6e6;
  box-shadow: 0px 0px 7px 1px rgba(0, 0, 0, 0.7);
  z-index: 120;
}

.perfil-alumno {
  margin-right: -60px;
  position: relative;
  background-color: #e6e6e6;
  width: 500px;
  height: 90px;
  display: flex;
  justify-content: center;
  align-items: center;
  cursor: pointer;
  z-index: 100;
}

.perfil-alumno .foto-alumno {
  width: 60px;
  height: 60px;
  border-radius: 50%;
  background-color: #a1a1a1;
  margin-right: 20px;
  background-position: center;
  background-size: cover;
  background-repeat: no-repeat;
}

.perfil-alumno .nombre-alumno {
  font-size: 18px;
  font-weight: 600;
  color: #5b5b5b;
  margin-right: 20px;
}

.mostrarPerfil-container {
  position: absolute;
  width: 350px;
  height: 380px;
  background-color: white;
  border: 6px solid white;
  top: 0px;
  right: 20px;
  border-radius: 40px;
  box-shadow: 0px 0px 10px 0px rgba(0, 0, 0, 0.7);
  cursor: default;
  z-index: 20;

  /*animation: top-in 0.7s;*/
}

.banner-perfil {
  position: absolute;
  width: 100%;
  border-top-left-radius: 38px;
  border-top-right-radius: 38px;
  height: 45%;
  background-color: #dddcdc;
}

.zaitexBannerLogo {
  width: 55px;
  margin: 20px 0px 0px 30px;
}

.fotoBanner {
  position: absolute;
  width: 170px;
  right: 10px;
  bottom: 10px;
}

.foto-perfil {
  width: 100px;
  height: 100px;
  border-radius: 50%;
  z-index: 30;
  position: absolute;
  top: 106px;
  left: 30px;
}

.mostrarPerfil-container .informacion-alumno {
  width: 100%;
  display: flex;
  position: absolute;
  flex-direction: column;
  top: 220px;
  left: 37px;
  z-index: 30;
}

.mostrarPerfil-container .informacion-alumno p {
  margin: 5px 0 0 0;
  color: #5b5b5b;
}

.mostrarPerfil-container .informacion-alumno .nombre {
  font-size: 18px;
  font-weight: 700;
  font-family: "Inter";
}

.mostrarPerfil-container .informacion-alumno .gmail {
  font-family: "Inter";
  font-size: 14px;
}

.mostrarPerfil-container .footer-perfil {
  position: absolute;
  bottom: 10px;
  width: 100%;
  display: flex;
  flex-direction: column;
}

.mostrarPerfil-container .footer-perfil .boton-footerPerfil {
  font-family: "Inter";
  width: 140px;
  display: flex;
  flex-direction: row;
  align-items: center;
  justify-content: space-around;
  background-color: transparent;
  height: 30px;
  font-weight: 700;
  color: #5b5b5b;
  margin-left: 26px;
  font-size: 14px;
  border: none;
  cursor: pointer;
}

.mostrarPerfil-container .footer-perfil .info-privada {
  font-family: "Inter";
  width: 108px;
  height: 30px;
  display: flex;
  justify-content: space-around;
  align-items: center;
  flex-direction: row;
  margin-left: 29px;
  font-weight: 700;
  font-size: 14px;
  text-decoration: none;
  color: #5b5b5b;
}

@keyframes top-in {
  from {
    top: -290px;
    z-index: 20;
  }
  to {
    top: 100px;
    z-index: 20;
  }
}

@keyframes top-out {
  from {
    top: 100px;
    z-index: -1;
  }
  to {
    top: 100px;
  }
}
