body{
    margin: 0;
    padding: 0;
}

.slide-box{
    width: 400%;
    display: flex;
    overflow-x: hidden;
    animation: slide-animation 20s infinite alternate;
}

.slide-box .slide-item{
    width: 100%;
}

.nosotros-container{
    position: relative;
    width: 100%;
    height: max-content;
}

.bodyNosotros{
    position: relative;
    top: -40px;
    margin-top: 0;
    width: 100%;
    height: 1250px;
    filter: brightness(0.3);
    z-index: -1;
    aspect-ratio: 1453/976;
}

.tituloNosotros{
    position: absolute;
    margin-top: -900px;
    margin-left: 200px;
    font-size: 90px;
    z-index: 2;
    color: white;
    letter-spacing: 0.2rem;
}

.explorandoZaitex{
    position: relative;
    width: 100%;
    height: max-content;
    padding-bottom: 40px;
    top: -302px;
    background-color: #252525;
}

.explorandoZaitex h1{
    color: white;
    width: 88.1%;
    text-align: end;
    padding-right: 40px;
    margin-top: 0;
    padding-top: 53px;
    font-size: 40px;
}

.explorandoZaitex p{
    position: relative;
    text-align: justify;
    width: 1450px;
    margin: 0 auto;
    color: #fff;
    padding-inline: 60px;
    font-size: 17px;
}

.h1-Nosotros{
    margin-top: -220px;
    text-align: center;
    font-size: 45px;
    color: black;
}

.stroke-word{
    text-align: center;
    font-size: 45px;
    color: transparent;
    -webkit-text-stroke: 2px black;
    padding-bottom: 65px;
}

.beneficios-nosotros{
    width: 100%;
    height: max-content;
    position: relative;
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    padding-top: 130px;
    align-items: center;
    padding-bottom: 130px;
    background-color: #004DDF;
}

.beneficios-nosotros .row-1, .beneficios-nosotros .row-2{
    display: flex;
    flex-direction: row;
    flex-wrap: wrap;
    justify-content: center;
}

.semiFooter-container{
    width: 100%;
}

.semiFooter-container .titulo{
    padding-top: 50px;
    text-align: center;
    font-size: 45px;
    color: black;
}

@keyframes slide-animation{
    0%{margin-left: 0%;}
    20%{margin-left: 0%;}

    25%{margin-left: -100%;}
    45%{margin-left: -100%;}

    50%{margin-left: -200%;}
    70%{margin-left: -200%;}

    75%{margin-left: -300%;}
    100%{margin-left: -300%;}
}

@media screen and (max-width: 767px){
    .slide-box{
        margin-top: 0px;
        height: 350px;
        overflow-y: hidden;
    }
    .explorandoZaitex{
        width: 100%;
        top: 0px;
        display: flex;
        flex-direction: column;
        justify-content: start;
        align-items: start;
        text-align: start;
        padding-left: 0;
    }

    .explorandoZaitex h1{
        width: 100%;
        padding-left: 0;
        font-size: 24px;
        text-align: center;
    }

    .explorandoZaitex p{
        width: 100%;
        padding-left: 0;
        font-size: 15px;
        padding-inline: 0px;
        margin: 0;
    }

    .h1-Nosotros{
        margin-top: 50px;
        font-size: 30px;
    }

    .stroke-word{
        font-size: 30px;
    }

    .semiFooter-container .titulo{
        font-size: 30px;
    }

    .beneficios-nosotros .row-1, .beneficios-nosotros .row-2{
        gap: 0px;
    }
}