
.ofre-container{
    position: relative;
    width: 370px;
    height: 250px;
    padding-left: 50px;
    padding-right: 50px;
    border-radius: 30px; 
    line-height: 2;
    text-align: justify;
    text-wrap: wrap;
    cursor: default;
}

.ofre-container:hover{
    color: #fff;
    transition: 0.5s;
}

@media screen and (max-width: 767px){
    .ofre-container{
        width: 250px;
        height: 220px;
    }

    .ofre-container h1{
        font-size: 18px;
    }

    .ofre-container p{
        font-size: 14px;
    }
}