.tipo-container{
    width: 384px;
    height: 250px;
    margin-bottom: 50px;
}

.logoTipo-container{
    width: 384px;
    height: 250px;
    filter: grayscale(1);
    transition: 0.5s;
}

.nombreTipo{
    margin-left: 15px;
    margin-right: 30px;
}

.capa-oscura{
    position: absolute;
    width: 384px;
    height: 250px;
    background-color: rgb(0, 0, 0, 0.5);
    transform: translateY(-254px);
    transition: 0.5s;
}

.footerTipo-container{
    font-family: 'Inter';
    font-size: 15px;
    display: flex;
    align-items: center;
    justify-content: end;
    color: #fff;
    font-weight: 700;
    width: 384px;
    height: 60px;
    background-color: rgba(0, 0, 0, 0.8);
    transform: translateY(-63px);
    z-index: 10;
}


.tipo-container:hover .capa-oscura {
    background-color: rgba(0, 0, 0, 0);
    transition: 0.5s;
}

.tipo-container:hover .logoTipo-container{
    filter: grayscale(0);
    transition: 0.5s;
}

@media screen and (max-width: 767px){
    .tipo-container{
        width: 320px;
        height: 200px;
    }

    .logoTipo-container{
        width: 320px;
        height: 200px;
    }

    .capa-oscura{
        transform: translateY(-205px);
        width: 320px;
        height: 200px;
    }

    .footerTipo-container{
        width: 320px;
    }
}